<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /~s63834/weather/
RewriteRule ^~s63834/weather/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~s63834/weather/index.html [L]
</IfModule>